.submit-btn {
  display: inline-block;
  font-weight: bold;
  background-color: $lightAccent;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border-radius: 3px;
  border: 1px solid transparent;

  &:disabled {
    background: $darkShades;
    opacity: 0.65;
  }
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: baseline;

  /* Medium devices (landscape tablets, 812px and up) */
  @media only screen and (min-width: 812px) {
    height: 100%;
  }

  button {
    margin-top: auto;
    margin-bottom: 15px;

    @media only screen and (min-width: 812px) {
      margin-top: 0;
    }
  }
}
