.input-wrapper {
  position: relative;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;

  label {
    margin: 5px 0;
  }
}

.input {
  border-radius: 4px;
  font-size: 16px;
  height: 44px;
  padding: 0px;
  padding-left: 7px;
  color: #333;
  border: 1px solid rgba(60, 60, 60, 0.26);
}

.radio {
  margin-right: 10px;
  padding: 0 5px;
}

.v-select {
  width: 100%;
  background: white;
  border-radius: 3px;

  input {
    height: 37px;
  }
}

.v-select ::after {
  border-left: 0;
  border-right: 0;
}

.alert {
  background: #202f7c;
  color: #fcfaf6;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  top: 74px;
  border-radius: 3px;
  padding: 5px;
  margin-top: 7px;
}
